@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: #146c11;
  font-family: 'Share Tech Mono', monospace;
}

.icon:hover {
  color: #7cfc00;
  transition: 0.2s ease-in;
}

.game {
  width: 100%;
  height: 88vh;
}

.startButton {
  padding: 20px;
  border: 4px solid #146c11;
}

.startButton:hover {
  border-color: #7cfc00;
  color: #7cfc00;
  transition: 0.2s ease-in;
}

.gameContainer {
  height: 80%;
  width: 80%;
  background-color: blue;
  color: white;
  animation: turnOn 1s;
}

@keyframes turnOn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.gameDot {
  background-color: #7cfc00;
  transition: background-color 0.4s ease-in;
}

.bg-light {
  background-color: #7cfc00;
}
