@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: #146c11;
  font-family: 'Share Tech Mono', monospace;
}

.icon:hover {
  color: #7cfc00;
  transition: 0.2s ease-in;
}
