@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #141414;
  color: #146c11;
  font-family: 'Share Tech Mono', monospace;
}

.icon:hover {
  color: #7cfc00;
  transition: 0.2s ease-in;
}

.game {
  width: 100%;
  height: 88vh;
}

.startButton {
  padding: 20px;

  border: 4px solid #146c11;
}

.gameContainer {
  height: 100%;
  width: 100%;
  padding: 10px;

  background-color: black;
  color: #2ecc71;
  text-shadow: 0 0 8px rgba(46, 204, 113, 0.6);
}

.menu {
  height: 100%;
  width: 100%;
  padding: 10px;

  background-color: black;
  color: #2ecc71;
}

.menuButton:hover {
  background-color: #2ecc71;
  color: black;
}
